.container {
    background-color: rgb(253, 196, 253);
}


.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(147, 38, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#colors, #styles, #fonts {
    border: 1px solid black;
    margin: 5% 15%;
    background-color: rgb(250, 237, 250);
}

#colors {
    height: 600px;
}

.hotpink, .turquoise, .pink, .mintgreen {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.hotpink {
    background-color: rgb(255, 23, 124);
}
.turquoise {
    background-color: #00ffcc;
}
.pink {
    background-color: rgba(255, 0, 72, 0.37);
}
.mintgreen {
    background-color: hsl(136,100%,82%);
}

.items {
    width: 150px;
    height: 150px;
    margin: auto;
}

.sub {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 36px;
}

h1, h2, .ptext {
    text-decoration: underline;
}

nav {
    border: 1px solid rgb(4, 3, 3);
    background-color: rgb(250, 237, 250);
    border-radius: 7px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right:20%;
    text-align: center;
}


.container {
    margin:auto;
    max-width: 80%;
    display: grid;
}

main {
    padding: 0;
    margin: 0;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    max-width: 430px;
    height: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.kaushan {
    font-family: 'kaushan script';
    text-align: center;
}

.lemon {
    font-family: 'Lemon';
    text-align: center;
}

.dancing {
    font-family: 'dancing script';
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}